dist
node_modules
package-lock.json
.claude/*

# SAP Commerce bean definition files (SAP copyright - cannot be redistributed)
resources/commercewebservicescommons-beans.xml
resources/webservicescommons-beans.xml
resources/custom-beans.xml